{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}




{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}



{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
   <!-- <li><a href="#">Home</a></li>
        <li><a href="#">Driving and transport</a></li>
        <li><a href="#">Notification</a></li> -->
      </ol>
    </nav>
  </div>




    <div class="grid-row">


     <div class="column-two-thirds"style="width:80">
        <p style="font-weight:bold;">Question 13:
        </p>
      </div>
        
           
         <div class="column-two-thirds"style="width:80"> 
           <p>Do you <a style="font-weight:bold;">Need</a> to drive a vehicle fitted with special controls or automatic transmission?</p>
         </div>


        <div class="column-two-thirds">
            <fieldset class="inline">
              <label class="block-label" for="radio-inline-group">
               <input id="radio-inline-1" name="radio-inline-1" value="Yes" type="radio">
                Yes
                </input>
                </label>
              </fieldset>

        </div>
              
            <div class="column-two-thirds">
          <fieldset class="inline">
              <label class="block-label" for="radio-inline-group">
               <input id="radio-inline-1" name="radio-inline-1" value="No" type="radio">
                 No
                 </input>
              </label>
              </fieldset>
            </div>       

        <div class="column-two-thirds">
       <p> Have you told us before that you need to drive a vehicle fitted with special controls or automatic transmission?</p>
        </div>
 
           <div class="column-two-thirds">   
            <fieldset class="inline">
              <label class="block-label" for="radio-inline-group">
               <input id="radio-inline-2" name="radio-inline-2" value="Yes" type="radio">
                Yes
            </label>
          </fieldset>
              </div>
            <div class="column-two-thirds">
          <fieldset class="inline">
              <label class="block-label" for="radio-inline-group">
               <input id="radio-inline-2" name="radio-inline-2" value="No" type="radio">
                 No
              </label>
              </fieldset>
          </div>
           
          <div class="column-two-thirds"style="width:80"> 
           <p>Since your last licence was issued have you had any additional controls fitted to your vehicle?</p>
         </div>


        <div class="column-two-thirds">
            <fieldset class="inline">
              <label class="block-label" for="radio-inline-group">
               <input id="radio-inline-3" name="radio-inline-3" value="Yes" type="radio">
                Yes
              </div>
            <div class="column-two-thirds">
          <fieldset class="inline">
              <label class="block-label" for="radio-inline-group">
               <input id="radio-inline-3" name="radio-inline-3" value="No" type="radio">
                 No
              </label>
              </div>  
           <div class="column-two-thirds">
          <p> <a href="http://localhost:3000/examples/elements/dmn-22" class="button button-get-started" role="button">Next</a>
          </p>
   
          </div>
    
 
</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
