{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}




{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}



{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
   <!-- <li><a href="#">Home</a></li>
        <li><a href="#">Driving and transport</a></li>
        <li><a href="#">Notification</a></li> -->
      </ol>
    </nav>
  </div>




    <div class="grid-row">


      <div class="column-two-thirds"style="width:100%">
       <h1 class="form-title heading-xlarge"><center><a style="font-weight:bold;">Driver & Vehicle Licensing Agency </a></center>
        </h1>
      </div>
    
        <div class="column-two-thirds"style="width:100%">
       
         <p><center><a style="font-weight:bold;">Please make sure this information is correct</a></center></p>
       
        <div class="column-two-thirds"style="width:100%">
    <table style="width:100%">
    <tr>
       <td>Driver’s number:</td><td>GREEN789543E66RN</td>
    </tr>
    <tr>
       <td>Name:</td><td>Mrs Ever Green</td>
    </tr>
     <tr>
       <td>Address:</td><td>1 Bush Garden, Spring Road, Abergavenny, Monmouthshire. NP7 8BG</td>
    </tr>
    <tr>
    <td><a style="font-weight:bold;">Condition 1</a></td>
  
    </tr>
      <tr>
       <td>Question 1:</td><td> Does your medical condition restrict you from driving?</td></tr>
       <tr><td> Answer:</td> <td> Yes</td>
    </tr>
    <tr>
       <td>Question 2:</td><td> How does your medical condition restrict you from driving?</td></tr>
       <tr><td>Answer: </td><td> Lower Body Movement</td>
    </tr>
    <tr>
       <td>Question 3:</td> <td>Do you regularly see your GP regarding your medical condition?</td></tr>
       <tr><td>Answer: </td><td> Yes</td>
    </tr>
    <tr>
        <td>Question 4:</td> <td>When was the last time you saw your GP regarding your medical condition?</td>
    <tr><td>Answer: </td><td> January 2015</td>
    </tr>
    <tr>
        <td>Question 5:</td> <td>Please provide your GP’s Name and Surgery Address</td>
    <tr><td>Answer: </td><td>Dr Jones, Station Road Surgery, Station Road, Abergavenny, Monmouthshire</td>
    </tr>
    <tr><td>GP's Phone Number:</td><td>01873 859000</td>
    <tr>
        <td>Question 6:</td> <td>Do you regularly see a Consultant regarding your medical condition?</td>
    <tr><td>Answer: </td><td>No
    </tr>
    <tr>
       <td>Question 7:</td> <td>Do  you take regular medication for your medical condition?</td>
    <tr><td>Answer: </td><td>Yes
    </tr>
    <tr>
       <td>Please list all medication taken and dosage:</td><td>Riluzole 50 mg
    </tr>
    <tr>
       <td>Question 8:</td> <td>Please give the approximate date of your diagnosis
    </td>
    <tr><td>Answer: </td><td>December 2014
    </tr>
    <tr>
       <td>Question 9:</td> <td>Was your condition a result of an illness?
    </td>
    <tr><td>Answer: </td><td>No
    </tr>
    <tr>
       <td>Question 10:</td> <td>Was your condition a result of an accident?
    </td>
    <tr><td>Answer: </td><td>No
    </tr>
    <tr>
       <td>Question 11:</td> <td>Please describe how your medical condition affects you: When driving
    </td>
    <tr><td>Answer: </td><td> I have moments where it can be difficult to use the foot controls but on those days I do not drive, apart from that it does not affect my driving at the moment.

    </tr>
    <tr>
       <td>Question 12:</td><td>Please describe how your medical condition affects you: Generally</td>
    </tr>
    <tr><td>Answer: </td><td>I find it difficult and sometimes painful to move around but this is only now and again not all the time.</td>
    </tr>
    <tr>
       <td>Question 13:</td><td>Do you Need to drive a vehicle fitted with special controls or automatic transmission?</td>
    </tr>
    <tr><td>Answer: </td><td>Yes</td>
    <tr>
    <td>Question 14:</td><td> Have you told us before that you need to drive a vehicle fitted with special controls or automatic transmission?
    </tr>
    <tr><td>Answer: </td><td>No</td>
    </tr>
    <tr>
    <td><a style="font-weight:bold;">Condition 2</a></td>
  
    </tr>
     <tr>
       <td>Medical condition:</td><td>Addison's disease</td>
    </tr>
    <tr>
       <td>Licence type:</td><td>Lorry</td>
    </tr>
    <tr>
       <td>Question 1:</td><td> Does your medical condition restrict you from driving?</td></tr>
       <tr><td> Answer:</td> <td> Yes</td>
    </tr>
    <tr>
       <td>Question 2:</td><td> How does your medical condition restrict you from driving?</td></tr>
       <tr><td>Answer: </td><td> Lower Body Movement and Upper Body Movement</td>
    </tr>
    <tr>
       <td>Question 3:</td> <td>Do you regularly see your GP regarding your medical condition?</td></tr>
       <tr><td>Answer: </td><td> Yes</td>
    </tr>
    <tr>
        <td>Question 4:</td> <td>When was the last time you saw your GP regarding your medical condition?</td>
    <tr><td>Answer: </td><td> March 2015</td>
    </tr>
    <tr>
        <td>Question 5:</td> <td>Please provide your GP’s Name and Surgery Address</td>
    <tr><td>Answer: </td><td>Dr Bones, Station Road Surgery, Station Road, Abergavenny, Monmouthshire</td>
    </tr>
    <tr><td>GP's Phone Number:</td><td>01873 859000</td>
    <tr>
        <td>Question 6:</td> <td>Do you regularly see a Consultant regarding your medical condition?</td>
    <tr><td>Answer: </td><td>No
    </tr>
    <tr>
       <td>Question 7:</td> <td>Do  you take regular medication for your medical condition?</td>
    <tr><td>Answer: </td><td>Yes
    </tr>
    <tr>
       <td>Please list all medication taken and dosage:</td><td>Corticosteroids tablets 25 mg
    </tr>
    <tr>
       <td>Question 8:</td> <td>Please give the approximate date of your diagnosis
    </td>
    <tr><td>Answer: </td><td>February 2015
    </tr>
    <tr>
       <td>Question 9:</td> <td>Was your condition a result of an illness?
    </td>
    <tr><td>Answer: </td><td>No
    </tr>
    <tr>
       <td>Question 10:</td> <td>Was your condition a result of an accident?
    </td>
    <tr><td>Answer: </td><td>Yes
    </tr>
    <tr>
       <td>Please give as much detail as possible:
    </td><td> After a car accident that caused damage to my adrenal gland which developed into Addison's disease
    <tr>
       <td>Question 11:</td> <td>Please describe how your medical condition affects you: When driving
    </td>
    <tr><td>Answer: </td><td> I have moments where I feel tired but I do not drive at these times, apart from that at the moment I don’t feel it affects my driving.
    </tr>
    <tr>
       <td>Question 12:</td><td>Please describe how your medical condition affects you: Generally</td>
    </tr>
    <tr><td>Answer: </td><td>I find I have no energy and feel very tired at times but this is only now and again not all the time.</td>
    </tr>
    <tr>
       <td>Question 13:</td><td>Do you Need to drive a vehicle fitted with special controls or automatic transmission?</td>
    </tr>
    <tr><td>Answer: </td><td>No</td>
    </tr>
</table>
 </div>
       <div class="column-two-thirds"> 

       <h1 class="form-title heading-xlarge"><a href="http://localhost:3000/examples/elements/dmn-115" class="button button-get-started" role="button">Next</a>
  </h1>
      </div>
       
      
   </div>   
 
</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
